name: Lint Code

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4.2.2

      - name: Install Stable Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1.10.1

      - name: Cache Rust Build
        uses: Swatinem/rust-cache@v2.7.5

      - name: Check Formatting
        run: >
          cargo fmt
          --all
          --check

      - name: Lint with Clippy
        run: >
          cargo clippy
          --all-targets
          --all-features
          --no-deps
          --
          --deny warnings

