name: Test Code

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4.2.1

      - name: Install stable Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1.10.1

      - name: Cache Rust Build
        uses: Swatinem/rust-cache@v2.7.5

      - name: Run Tests
        run: >
          cargo test
          --all-targets
          --all-features
